.colorbj {
  background-color: rgba(0, 0, 0, 0.5);
}
.colorfont {
  color: #333;
}
body,
p,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  background: url(../img/bj-1.jpg) no-repeat;
  background-size: cover !important;
  overflow: hidden;
  -moz-user-select: none;
  cursor: default;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
#loading {
  width: 1500px;
  height: 600px;
  margin: 0 auto;
}
.musicPlayer {
  display: none;
  width: 800px;
  margin: 30px auto;
  border-radius: 30px;
  position: relative;
  box-shadow: 0 0 15px 8px rgba(130, 130, 130, 0.5);
}
.musicPlayer .bj {
  -background-image: url(../img/beijing-2.jpg);
  width: 100%;
  height: 100%;
  opacity: 1;
  -webkit-filter: blur(3px);
  position: absolute;
  z-index: -1;
  border-radius: 30px;
}
.musicPlayer .top {
  width: 800px;
  height: 50px;
  background-color: rgba(0, 0, 0, 0.5);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  color: #428bca;
  text-align: center;
  line-height: 50px ;
  font-size: 25px;
}
.musicPlayer .main {
  width: 100%;
  display: flex;
  background: rgba(250, 255, 200, 0.4);
}
.musicPlayer .content {
  flex: 1;
}
.musicPlayer .content .songtext {
  text-align: center;
  font-size: 20px;
}
.musicPlayer .content .songtext p {
  color: red;
}
.musicPlayer .content .songtext .songtitle {
  margin-top: 25px;
  color: #333;
  font-family: '微软雅黑';
}
.musicPlayer .content .songtext .singer {
  font-size: 16px;
  color: #333;
  font-family: '微软雅黑';
}
.musicPlayer .content .lyrics {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottonm: 20px;
}
.musicPlayer .content .lyrics .songsword {
  text-align: center;
  margin-bottom: 20px;
  font-size: 16px;
  color: white;
}
.musicPlayer .content .lyrics .wordnow {
  color: red;
}
.musicPlayer .content .audio_model canvas {
  display: block;
}
.musicPlayer .side {
  height: 154px;
}
.musicPlayer .side .glyphicon-th-list,
.musicPlayer .side .glyphicon-signal,
.musicPlayer .side .glyphicon-picture,
.musicPlayer .side .glyphicon-search {
  font-size: 20px;
  color: #333;
}
.musicPlayer .side .sidegroup {
  float: left;
}
.musicPlayer .side .sidegroup button {
  background-color: rgba(70, 70, 70, 0.3);
}
.musicPlayer .side .sidegroup button.active {
  background-color: rgba(200, 200, 200, 0.3);
}
.musicPlayer .side .fnBlock {
  float: right;
  height: 100%;
  overflow: hidden;
}
.musicPlayer .side .fnBlock .search .search_text .inputsearch {
  flex: 1;
}
.musicPlayer .side .fnBlock .search .search_text .searchbutton {
  width: 80px;
}
.musicPlayer .side .fnBlock .search .song_list {
  background: rgba(255, 255, 255, 0.5);
  clear: both;
  height: 120px;
  overflow-y: auto;
  overflow-x: hidden;
}
.musicPlayer .side .fnBlock .search .song_list li {
  display: flex;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}
.musicPlayer .side .fnBlock .search .song_list li span:nth-of-type(1) {
  text-align: left;
  text-indent: 10px;
  flex: 1;
}
.musicPlayer .side .fnBlock .search .song_list li span:nth-of-type(2) {
  width: 90px;
  text-align: center;
}
.musicPlayer .side .fnBlock .search .song_list li.odd {
  background: rgba(255, 255, 255, 0.8);
}
.musicPlayer .side .fnBlock .search .song_list li:hover {
  opacity: 0.8;
}
.musicPlayer .side .fnBlock .skinbox {
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%;
}
.musicPlayer .side .fnBlock .skinbox img {
  width: 70px;
  height: 70px;
  padding-left: 8px;
  padding-top: 8px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.musicPlayer .side .fnBlock .skinbox img:hover {
  border: 1px solid white;
}
.musicPlayer .side .fnBlock .songsbox {
  border-radius: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
  height: 100%;
}
.musicPlayer .side .fnBlock .songsbox li {
  font-size: 12px;
  display: flex;
  padding: 8px;
  white-space: nowrap;
}
.musicPlayer .side .fnBlock .songsbox li .p1 {
  flex: 1;
  color: white;
}
.musicPlayer .side .fnBlock .songsbox li .p2 {
  width: 60px;
  color: white;
  margin-left: 4px;
}
.musicPlayer .side .fnBlock .songsbox li .p3 {
  color: white;
  margin-left: 5px;
}
.musicPlayer .side .fnBlock .songsbox li a {
  vertical-align: middle;
}
.musicPlayer .side .fnBlock .songsbox li:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.musicPlayer .bottom {
  width: 800px;
  height: 110px;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  -position: absolute;
  bottom: 0;
}
.musicPlayer .bottom .progressBar {
  position: relative;
  top: 0;
}
.musicPlayer .bottom .progressBar .progress {
  margin-bottom: 0;
  overflow: auto;
  height: 6px;
  width: 100%;
  cursor: pointer;
}
.musicPlayer .bottom .progressBar .progress .progress-bar {
  background-color: #d60413 ;
  width: 10px;
}
.musicPlayer .bottom .progressBar .barhead {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: #d60413;
  position: absolute;
  left: 90px;
  top: -5px;
  right: -10px;
}
.musicPlayer .bottom .mainbuttn {
  margin-top: 10px;
  display: flex;
  width: 800px;
  height: 50px;
  width: auto;
  padding: 0 100px;
  text-align: center;
}
.musicPlayer .bottom .mainbuttn a {
  flex: 1;
}
.musicPlayer .bottom .mainbuttn a,
.musicPlayer .bottom .mainbuttn span {
  display: inline-block;
  line-height: 50px ;
  vertical-align: middle;
  width: 13%;
  height: 50px;
}
.musicPlayer .bottom .mainbuttn .prev,
.musicPlayer .bottom .mainbuttn .next,
.musicPlayer .bottom .mainbuttn .volume,
.musicPlayer .bottom .mainbuttn .random,
.musicPlayer .bottom .mainbuttn .glyphicon-backward,
.musicPlayer .bottom .mainbuttn .glyphicon-forward,
.musicPlayer .bottom .mainbuttn .glyphicon-volume-up,
.musicPlayer .bottom .mainbuttn .glyphicon-random {
  font-size: 30px;
}
.musicPlayer .bottom .mainbuttn .play,
.musicPlayer .bottom .mainbuttn .glyphicon-play {
  font-size: 45px;
}
.musicPlayer .bottom .mainbuttn .volume:hover,
.musicPlayer .bottom .mainbuttn .volume:active,
.musicPlayer .bottom .mainbuttn .volume:focus {
  color: #428bca;
}
.musicPlayer .bottom .mainbuttn .volume {
  position: relative;
  align-items: center;
}
.musicPlayer .bottom .mainbuttn .volume span {
  width: 30px;
  vertical-align: middle;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
}
.musicPlayer .bottom .mainbuttn .volume span:hover {
  color: #2a6496;
}
.musicPlayer .bottom .mainbuttn .volume .volumevar {
  vertical-align: middle;
  height: 10px;
  flex: 1;
  margin-left: 4px;
}
.musicPlayer .bottom .mainbuttn .volume .volumevar .progress:hover .progress-bar-danger {
  background: #2a6496;
}
.musicPlayer .bottom .mainbuttn .volume .volumevar .progress {
  height: 10px;
}
.musicPlayer .bottom .mainbuttn .volume .volumevar .progress .progress-bar-danger {
  background-color: #428bca;
}
.musicPlayer .bottom .mainbuttn .volume .volumevar .progress-bar {
  width: 115px;
}
.musicPlayer .bottom .mainbuttn .volume .volumevar .barhead {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
  background-color: #428bca;
  position: absolute;
  left: 90px;
  top: -5px;
  right: -10px;
}
